<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="full-screen" content="yes">
    <!-- <meta name="x5-fullscreen" content="true"> -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>袋鼠医学-国家中医药管理局直属单位中国中医药出版社旗下专业医学知识服务提供商，国家中医医师资格考试技能操作规范化视频唯一授权发布平台，国家执业医师资格考试、国家执业药师资格考试、中医师承与确有专长考试考核培训辅导机构。</title>
    <!--flexible布局-->
    <script src="../../js/flexible.js"></script>
    <!--公共引用-->
    <script src="../../js/jquery-2.1.4.js"></script>
    <script src="../../js/index_top.js"></script>
    <link rel="stylesheet" href="../../plug/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../plug/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/common.css">
    <!--本页面引入-->
    <link rel="stylesheet" href="../../css/homepage/homepage.css">
    <link rel="stylesheet" href="../../css/homepage/dredge.css">
    <link rel="stylesheet" href="../../css/course/zhibo.css">
</head>
<body>
<div>
    <nav class="homepage_nav">
        <img class="logo" src="../../img/homepage/logo_03.png">
        袋鼠直播
        <div class="homepage_nav_right">
            <img src="../../img/course/ShoppingCart_03.png" alt="">
            <span class="homepage_nav_right_div">
                <!-- {{shopcar_num}} -->0
            </span>
        </div>
        
    </nav>
    <div style="width: 100%">
        <img  style="width: 100%" src="../../img/course/kecheng_img_06.jpg" alt="">
    </div>
    <!-- 列表 -->
    <div class="listofcourses_nav">
        <div class="listofcourses_nav_ul">
            <li class="listofcourses_nav_ul_li">
                <p>近期直播</p> 
                <span></span>
            </li>
            <li class="">
                <p>近期回放</p> 
                <span></span>
            </li>
            <li class="">
                <p>直播课表</p> 
                <span></span>
            </li>
        </div>
    </div>
    <div class="homepage_guanggao">
        <img src="../../img/homepage/guanggao_02.png" alt="">
    </div>
    <!--执业医师-->
    <div class="pharmacist">
        <div class="admission_div">
            <div class="admission_div_top">
                <p class="admission_div_top_p admission_div_top_p2" style="border-left-color: #0299ec">
                    推荐直播课
                </p>
            </div>
            <div class="pharmacist_div">
                <div class="pharmacist_left">
                    <img class="pharmacist_left_img" src="../../img/course/zhibo_05.png">
                </div>
                <div class="pharmacist_right">
                    <h4 class="pharmacist_right_h4">
                            【笔试】真题讲解班
                    </h4>
                    <p class="pharmacist_right_p">
                        <span>可选科目：</span>中医执业 、中医执业助理
                    </p>
                   <p class="pharmacist_right_p1">
                        <span style="color: #999999;">
                                240小时     
                        </span>
                        <span style="margin-left:.37rem">
                                有效期：2018.11.30
                        </span>
                    </p>
                    <div class="listofcourses_bottom">
                        <!-- <p v-if="data.d_course_price != null">¥{{data.d_course_price}}</p>
                        <p v-if="data.d_course_price != null" class="original_price"><del>¥{{data.course_price}}</del></p>
                        <p v-if="data.d_course_price == null">¥{{data.course_price}}</p> -->
                        <p>¥1680 </p>
                        <img src="../../img/homepage/gouwuche_03.png" alt="" class="listofcourses_bottom_img">
                    </div>

                </div>
            </div>

           
        </div>
       
       
        
        
    </div>
    <!--点击购买-非套包-->
    <div class="concealmentlayer" v-if="showbuy1"  style="display: none;">
        <div class="concealmentlayer_div">
            <h4 class="concealmentlayer_h4">
                <p class="concealmentlayer_title_h4">
                    {{popupwindow_data[current_buy].course_type_name}}
                    <span class="concealmentlayer_title_span">有效期:{{popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].down_time}} </span>
                </p>
                <img src="../../img/user_info/placeholder_03.png" alt="" @click="close">
            </h4>
            <div class="concealmentlayer_title">
                <p class="admission_div_top_p" style="border-left-color: rgb(2, 153, 236);font-size: .4rem;margin-left: .2rem">
                    请选择方向
                </p>
                
            </div>
            
            <ul class="curriculum_ul">
                <!--套包里面是多选，普通的里面是单选-->
                <li v-for="(data,class_index) in popupwindow_data" :class="{lis:data.course_id==179}" @click="check_class(class_index)">
                    <div class="concealmentlayer_xuan3" :class="{concealmentlayer_ullidiv:class_index==current_buy}"
                    >
                        {{data.direction_name}}
                        <span :class="{concealmentlayer_ullidiv_span:class_index==current_buy}" v-if="data.spec[0].discount_price == null">（￥{{parseInt(data.spec[0].price)}}）</span>
                        <span  :class="{concealmentlayer_ullidiv_span:class_index==current_buy}" v-if="data.spec[0].discount_price != null">（￥{{data.spec[0].discount_price}}）
                        <!--<span  :class="{concealmentlayer_ullidiv_span:class_index==current_buy}"  class="discount" v-if="data.spec[0].discount_val != null">限时优惠{{data.spec[0].discount_val}}折</span>-->
                    </span>
                    </div>
                    <!--{{data.direction_name}}-->
                    <!--<span v-if="data.spec[0].discount_price == null">（￥{{data.spec[0].price}}）</span>-->
                    <!--<span v-if="data.spec[0].discount_price != null">（￥{{data.spec[0].discount_price}}）-->
                        <!--<span  class="discount" v-if="data.spec[0].discount_val != null">限时优惠{{data.spec[0].discount_val}}折</span>-->
                    <!--</span>-->
                </li>
            </ul>
            <div class="curriculum_twoyears" v-if="popupwindow_data[current_buy].spec[1]!=null"
                 @click="buy_two_years(!buy_two_years_flag,false)">
                <div class="concealmentlayer_xuan2" :class="{concealmentlayer_ullidiv:buy_two_years_flag}"
                >
                    <img src="../../img/course/concealmentlayer_xuan_03.png" alt="">
                </div>
                两年期课程保障
            </div>

            <div class="concealmentlayer_bottom">
                <div class="concealmentlayer_bottom_div1" v-if="Goto_buy1 == 0">
                    <!-- 加入购物车 和 立即购买 -->
                    <div class="concealmentlayer_bottom_left"
                         @click="Goto_buyi(1)">
                        加入购物车
                    </div>
                    <div class="concealmentlayer_bottom_right"
                         @click="Goto_buyi(2)">
                        立即购买
                    </div>
                </div>
                <div class="concealmentlayer_bottom_div1" :class="{concealmentlayer_bottom_div: Goto_buy1 == 1 || Goto_buy1 == 2}" v-if="Goto_buy1 == 1 || Goto_buy1 == 2">
                    <!--购物车 确认 -->
                    <p class="title_div_left_p2"
                       v-if="popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].discount_price == null && Goto_buy1 != 0">
                        金额 :
                       <span> ¥ {{popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].price}}</span>
                    </p>
                    <p class="title_div_left_p2"
                       v-if="popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].discount_price != null && Goto_buy1 != 0">
                        金额 :
                       <span> ¥ {{popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].discount_price}}</span>
                    </p>
                    <div class="yishi_GM"  v-if="Goto_buy1 == 1"
                     @click="buy(popupwindow_data[current_buy].course_id,false,popupwindow_data[current_buy].isbuy,true,popupwindow_data[current_buy].spec)">
                        确认
                    </div>
                    <!-- 立即购买 确认 -->
                    <div class="yishi_GM" v-if="Goto_buy1 == 2"
                         @click="buy(popupwindow_data[current_buy].course_id,true,popupwindow_data[current_buy].isbuy,false,popupwindow_data[current_buy].spec)">
                        确 认
                    </div>
                </div>
                <!-- 空 div-->
            </div>
            <div style="width: 100%;height: 1.43rem;"></div>
        </div>
    </div>


    <!--点击购买-套包-->
    <div class="concealmentlayer" v-if="showbuy2" style="display: none;">
        <div class="concealmentlayer_div">
            <h4 class="concealmentlayer_h4">
                <p class="concealmentlayer_title_h4">
                    {{popupwindow_data_collar[current_type].course_type_name}}
                    <span class="concealmentlayer_title_span">有效期:{{popupwindow_data_collar[current_type].spec[buy_two_years_flag?1:0].down_time}} </span>
                </p>
                <img src="../../img/user_info/placeholder_03.png" alt="" @click="close">
            </h4>
            <div class="concealmentlayer_title">
                <p class="admission_div_top_p" style="border-left-color: rgb(2, 153, 236);font-size: .4rem;margin-left: .2rem">
                    请选择方向
                </p>

            </div>

            <div class="classification">
                <p  class="admission_div_top_p" style="border-left-color: rgb(2, 153, 236);font-size: .4rem;margin-left: .2rem">
                    请选择分类
                </p>
                <ul class="classification_ul">
                    <li :class="{classification_ulli:type_index==current_type}"
                        v-for="(data,type_index) in popupwindow_data_collar" @click="check_type(type_index)">
                        {{data.direction_name}}
                    </li>
                </ul>
            </div>

            <!--<div class="listofcourses_two">-->
                <!--<div class="listofcourses_two">-->
                    <!--<div class="listofcourses_two_div">-->
                        <!--<p class="listofcourses_two_p">-->
                            <!--本班次课程-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="concealmentlayer_title">
                <p class="admission_div_top_p" style="border-left-color: rgb(2, 153, 236);font-size: .4rem;margin-left: .2rem">
                    请选择方向
                </p>

            </div>

            <ul class="curriculum_ul">
                <!--套包里面是多选，普通的里面是单选-->
                <li v-for="(data,class_index) in popupwindow_data_collar[current_type].course_list"
                    @click="check_class_collar(class_index)">
                    <div class="concealmentlayer_xuan" :class="{concealmentlayer_ullidiv:data.checks=='True'}">
                        <img src="../../img/course/concealmentlayer_xuan_03.png" alt="">
                    </div>
                    {{data.direction_name}}
                    <span class="price_span" v-if="data.spec[0].discount_price == null">（￥{{data.spec[0].price}}）</span>
                    <span  v-if="data.spec[0].discount_price != null">（￥{{data.spec[0].discount_price}}）
                        <span  class="discount" v-if="data.spec[0].discount_val != null">限时优惠{{data.spec[0].discount_val}}折</span>
                    </span>
                </li>
            </ul>

            <div class="curriculum_twoyears" v-if="popupwindow_data_collar[current_type].spec[1]!=null"
                 @click="buy_two_years(!buy_two_years_flag,true)">
                <div class="concealmentlayer_xuan2" :class="{concealmentlayer_ullidiv:buy_two_years_flag}">
                    <img src="../../img/course/concealmentlayer_xuan_03.png" alt="">
                </div>
                两年期课程保障
            </div>
            <div class="concealmentlayer_bottom">
                <div class="concealmentlayer_bottom_div1" v-if="Goto_buy2 == 0">
                    <!-- 加入购物车 和 立即购买 -->
                    <div class="concealmentlayer_bottom_left"
                         @click="Goto_buyE(1)">
                        加入购物车
                    </div>
                    <div class="concealmentlayer_bottom_right"
                         @click="Goto_buyE(2)">
                        立即购买
                    </div>
                </div>
                <div class="concealmentlayer_bottom_div1" :class="{concealmentlayer_bottom_div: Goto_buy2 == 1 || Goto_buy2 == 2}" v-if="Goto_buy2 == 1 || Goto_buy2 == 2">
                    <!--购物车 确认 -->
                    <p class="title_div_left_p2"
                       v-if="popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].discount_price == null && Goto_buy2 != 0">
                        金额 :
                        <span> ¥ {{popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].price}}</span>
                    </p>
                    <p class="title_div_left_p2"
                       v-if="popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].discount_price != null && Goto_buy2 != 0">
                        金额 :
                        <span> ¥ {{popupwindow_data[current_buy].spec[buy_two_years_flag?1:0].discount_price}}</span>
                    </p>
                    <div class="yishi_GM"  v-if="Goto_buy2 == 1"
                         @click="buy('',false,'',true,popupwindow_data_collar[current_type].spec)">
                        确认
                    </div>
                    <!-- 立即购买 确认 -->
                    <div class="yishi_GM" v-if="Goto_buy2 == 2"
                         @click="buy('',true,'',false,popupwindow_data_collar[current_type].spec)">
                        确 认
                    </div>
                </div>
                <!-- 空 div-->
                <div style="width: 100%;height: 1.43rem;"></div>
            </div>
        </div>
    </div>
    <!--底部导航-->
    <main_bottom_navs init_tabs="0"></main_bottom_navs>
</div>
</body>


<!--layui框架.js-->
<script src="../../plug/layui/layui.js"></script>
<!--swiper-->
<script src="../../js/swiper/swiper.min.js"></script>
<!--vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--插入页面元素统一JS-->
<script src="../../js/index_footer.js"></script>
<script src="../../js/homepage/homepage.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script type="text/babel">

</script>
</html>