<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="full-screen" content="yes">
    <!-- <meta name="x5-fullscreen" content="true"> -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我的已购课程</title>
    <!--flexible布局  -->
    <script src="../../js/flexible.js"></script>

    <!--公共引用-->
    <script src="../../js/jquery-2.1.4.js"></script>
    <script src="../../js/index_top.js"></script>
    <link rel="stylesheet" href="../../plug/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../plug/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/homepage/homepage.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/course/course_index.css">
    <link rel="stylesheet" href="../../css/course/listofcourses.css">
    <link rel="stylesheet" href="../../css/homepage/dredge.css">
    <link rel="stylesheet" href="../../css/course/my_already_buy.css">
</head>
<body>
<div id="app_body"  v-cloak>
	<nav class="homepage_nav">
	    <img class="logo" src="../../img/homepage/logo_03.png">
	    	我的购买
	    <div class="homepage_nav_right" @click="jump2shopCar">
	        <img src="../../img/course/ShoppingCart_03.png" alt="">
	        <span class="homepage_nav_right_div">{{shopcar_num}}</span>
	    </div>
        <!-- <div class="xiala" @click="show_xiala"><img  src="../img/homepage/xiala.png"></div> -->
    </nav>
    <div v-if="isRegiste">
        <div class="homepage_guanyu">
            <!-- <div style="width: 100%;height: .3rem;background: #eceef0;"></div>     -->


        <div class="pharmacist" style="padding-bottom: 0">
	        <div class="admission_div">
            	<div class="admission_div_top">
                	<p class="admission_div_top_p admission_div_top_p2" style="border-left-color: #0299ec">
                    	已购课程
                	</p>
       
            	</div>
	            <div class="pharmacist_div" v-for="data in data_list_buy" @click="jump2detail(1,0,data.course_id,6)">
	                <div class="pharmacist_left">
	                    <img class="pharmacist_left_img" :src="data.course_thumb" alt="">
	                </div>
	                <div class="pharmacist_right">
	                    <h4 class="pharmacist_right_h4">
	                       {{data.course_type_name}}
	                       </h4>
	                    <p class="pharmacist_right_p">
	                       已选科目：<span>{{data.direction_name}}</span>
	                    </p>
	                    <p class="pharmacist_right_p1">
	                        <span style="color: #999999;margin-right:.5rem">
	                           总时长：{{formatHour(data.time_num)}}小时
	                        </span>
	                        <span>
	                            已更新：{{data.already_new}}节
	                        </span>
	                    </p>
	                    <p class="pharmacist_right_p">
	                       最近观看：<span>{{data.learn_video.video_name}} </span>
	                    </p>
	                    <p class="pharmacist_right_p1">
	                        已学：<span class="already" style="margin-right:.1rem">{{data.learn_time>=3600 ? formatHour(data.learn_time)+'小时' : formatMinute(data.learn_time) + '分钟'}}</span>
	                        </span>
	                        <span>
	                            有效期：{{data.down_time}}
	                        </span>
	                    </p>
	                </div>
	            </div>
	        </div>
	   	</div>
        

        <div class="homepage_guanyu">
            <div style="width: 100%;height: .3rem;background: #eceef0;"></div>
            <div  class="admission_div">
                <div class="admission_div_top homepage_guanyu_top">
                    <p class="admission_div_top_p" style="border-left-color: #37af12">
                        联系我们
                    </p>
                </div>
                <div class="homepage_lianxi">
                    <div class="homepage_lianxiT homepage_lianxiTl">
                   
                        <img src="../../img/homepage/erweima1_07.png" alt="">
                            <p class="homepage_lianxiT_txt">
                                袋鼠医学微信公众号
                            </p>

                    </div>
                    <div class="homepage_lianxiT homepage_lianxiTr">
                            <img  src="../../img/homepage/erweima1_07.png" alt="">
                            <p class="homepage_lianxiT_txt" style="text-align: center">
                                加卡丁老师（kading33）
                                拉入官方微信交流群
                            </p>

                    </div>
                    <div  class="homepage_lianxiB">
                        <div class="homepage_lianxiBl">
                            <img style="width: .55rem;vertical-align: middle;margin-right: .1rem" src="../../img/homepage/dianhua_10.png" alt="">
                            电话: 010-64405382
                        </div>
                        <div class="homepage_lianxiBl">
                            <img  style="width: .55rem;vertical-align: middle;margin-right: .1rem" src="../../img/homepage/qq_07.png" alt="">
                            QQ群: 590385908
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%;height: .24rem;background: #eceef0;margin-bottom: 1.29rem;"></div>
    </div>
    <is-register></is-register>
    <!--底部导航-->
    <main_bottom_nav init_tabs="2"></main_bottom_nav>
</div>
</body>
<!--layui框架.js-->
<script src="../../plug/layui/layui.js"></script>
<!--vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--插入页面元素统一JS-->
<script src="../../js/index_footer.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script type="text/babel">
    var app = new Vue({
        el: '#app_body',
        data: {
            IsDredge:true,
            isRegiste:check_user_state(),//判断是否去登录
            page_flag: 1,//1执业医师 2执业药师 3为国医经典 4为卫生管理
            data_list_buy: [{
            	learn_video: {}
            }],//已购买的数组
            shopcar_num: 0//购物车数量
        },
        methods: {

            back(){
                union_back();
            }, formatHour(s){
                return (s / 3600).toFixed(1);

            }, formatMinute (s) {

                return (s / 60).toFixed(1);
            },init(flag)
            {
                
                yaqooNetPost('Course/purchase', {}, function (data) {
                    if (data['code'] == 1000) {
                        app.data_list_buy = data['data'];             
                    }
                },false)
            }
        }
    });

    if(check_user_state()){
        if(getTempData() == '' || getTempData() ==null || JSON.parse(getTempData()) instanceof Array){
            app.init();
        } else {
            app.current_tab = getTempData()-1;
            app.init(Number(getTempData()))
        }
    };

    function GouNum(){
        yaqooNetPost('Cart/index', '', function (data) {
            if (data['code'] == 1000) {
                for(var i in data['data']){
                    if(data['data'][i].product_type != 2){
                        app.shopcar_num += 1
                    }
                }
            }
        })
    }
    if (check_user_state()) {
        GouNum();
    }
</script>
</html>