.img {
	width: 100%;
}

.img_bottom {
	margin: .61rem 0;
}

.kaquan_jihuo,.kaquan_con {
	width: 8.81rem;
	margin: 0 .59rem;
}

.kaquan_jihuo .same_p,.submit {
	width: 8.42rem;
	height: 1.1rem;
	line-height: 1.1rem;
	color: #666;
	font-size: .32rem;
	background: #fff;
	border-radius: 5px;
	margin-bottom: .32rem;
	padding-left: .39rem;
}

.kaquan_jihuo div{
	width: 8.8rem;
	height: 1.1rem;
	line-height: 1.1rem;
	color: #666;
	font-size: .32rem;
	margin-bottom: .32rem;
}

.kaquan_jihuo div p {
	width: 4.61rem;
	background: #fff;
	border-radius: 5px;
	float: left;
	padding-left: .39rem;
}

.button {
	width: 3.16rem;
	background: #fff;
	border-radius: 5px;
	float: right;
	color: #ff8521;
	height: 100%;
	border: 0;
}

.kaquan_jihuo div p input {
	border: 0;
	line-height: 100%;
	width: 2.6rem;
	padding-left: .4rem;
	color: #333;
}

.kaquan_jihuo .same {
	height: 100%;
	width: 6.5rem;
	border: 0;
	color: #333;
	margin-left: .4rem;
}

.tip {
	font-size: .32rem;
	color: #333;
	width: 100%;
	text-align: center;
	height: .65rem;
	line-height: .65rem;

}

.submit {
	width: 8.81rem;
	border: 0;
	background: #ffb000;
	color: #fff;
	padding-left: 0;
	margin: .56rem .59rem 0.64rem .59rem;

}

.contact {
	width: 100;
	text-align: center;
}

.contact img {
	display: inline-block;
	width: 2.76rem;
	margin-bottom: .35rem;
}

.contact p {
	font-size: .28rem;
	color: #333;
}

.kaquan_con {
	height: .96rem;
	line-height: .96rem;
	border: 1px solid #bbad92;
	border-radius: 5px;
	margin-top: .48rem;
}

.kaquan_con img {
	width: .51rem;
	height: .51rem;
	margin-right: .19rem;
}

.kaquan_con p{
	float: left;
	width: 50%;
	font-size: .32rem;
	color: #444;
	text-align: center;
}

.fail_p {
	width: 100%;
	text-align: center;
	font-size: .36rem;
	color: #333;
	height: .36rem;
	line-height: .36rem;
}

.fail_p_other {
	font-size: .48rem;
	color: #e84a1b;
	height: .48rem;
	line-height: .48rem;
	margin: .28rem 0 .19rem 0;
}
.fail_tip {
	width: 8.8rem;
	margin: 0 .6rem;
	background: #ffb000;
	height: 1.1rem;
	line-height: 1.1rem;
	border-radius: 5px;
}

.fail_tip a {
	display: block;
	width: 100%;
	color: #fff;
	height: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
	font-size: .4rem;
}

.course {
	width: 100%;
	text-align: center;
	position: relative;
}

.course_p {
	width: 100%;
	text-align: center;
	color: #e74141;
	font-size: .64rem;
	font-weight: bold;
	position: absolute;
	top: 2.45rem;
	left: 0;
}


.course_div {
	width: 100%;
	position: absolute;
	bottom: 1rem;
	left: 0;
	color: #fff;
	font-size: .36rem; 
	text-align: left;
	
}

.course_div div{
	width: 7rem;
	padding-left: 2.01rem;
}

.course_div  p {
	width: 100%;
	text-align: center;
}


.course_div  a {
	display: inline-block;
	width: 2.64rem;
	height: .83rem;
	background: #ffb50d;
	border-radius: 5px;
	line-height: .83rem;
	color: #fff;
}

.course_div ul li{
	float: left;
	height: .66rem;
	line-height: .66rem;
	padding: 0 .35rem;
	border: 1px solid #fff;
	margin-bottom: .28rem;
	margin-right: .23rem;
}
.course_div p {
	height: .36rem;
	line-height: .36rem;
}

.select_course {
	background: #fff;
	color: #e74141;
}

.yhq_tip p {
	text-align: left;
	font-size: .28rem;
	width: 6.2rem;
	height: auto;
	line-height: .48rem;
}